:root {
	--bs-body-line-height: 1.2 !important;
	--primaryColor: #ffcb0e;
	--primaryColorAlt: #ffdb5a;
	--primaryColorLight: #f8cc1d;
	--primaryColorDark: #dfb10b;
    --secondaryColor: #231f20;
    --secondaryColorAlt: #423e3f;
}

html, body, form, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, li {margin: 0; padding: 0;}
html, body {width: 100%; height: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, div, form, label {display: block;}
img {border: 0; -ms-interpolation-mode: bicubic;}
:focus {outline: 0;}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}
body {
	background: #f6f6f6;
	background: rgb(246,246,246);
	background: linear-gradient(180deg, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 100%);
	user-select: none;
	line-height: var(--bs-body-line-height) !important;
	color: #000;
}
button, input, optgroup, select, textarea {
	font: inherit;
	color: inherit;
	border: 0 none;
}
a, button {
	cursor: pointer;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
	transition: 0.3s all;
}
a:hover {
	color: var(--primaryColorDark);
	text-decoration: none;
}

b, strong { font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	margin: 20px 0;
	color: #585858;
}
h1 { font-size: 51px; line-height: 55px; }
h2 { font-size: 33px; line-height: 37px; }
h3 { font-size: 22px; line-height: 26px; }
h4 { font-size: 18px; line-height: 22px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 10px; line-height: 20px; }
p {margin: 20px 0;}
ul {list-style-type: none;}
ul li {
	background: url('') no-repeat left 10px;
	background-size: 6px 6px;
	padding: 0 0 7px 13px;
}

.scroll-content {
	overflow: hidden;
	overflow-y: auto;
}

.title-line {
	position: relative;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.title-line:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	margin-left: 20px;
	background-color: var(--primaryColor);
}

.app-bg {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

/* ********|| NAVIGATION ||******** */

.navigation-option {
	border-bottom: 3px solid #e2e2e2;
	box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 10%),
			0px 6px 10px 0px rgb(0 0 0 / 7%),
			0px 1px 18px 0px rgb(0 0 0 / 5%);
}
.navigation-option:focus,
.navigation-option:active {
	border-color: #f1e4b5;
	box-shadow: 0 0 0 0.25rem rgba(255,203,14,.25);
}
.navigation-option .option-icon {
	width: 3.5rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	background: #c0ea80;
	background: #ffcb0e;
	border-radius: .3rem;
}
.navigation-option .option-icon i {
	color: #8bab5a;
	color: #fff;
}
.navigation-option .option-label {
	color: #5d5d5d;
}

/* ********|| GLOBAL VALUES ||******** */

.text-yellow {
	color: #ffcb0e;
}
.text-gray {
	color: #9c9c9c;
}
.text-dark-gray {
	color: #727272;
}

/* ********|| BACKGROUND ANIMATION||******** */

.app-background {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.circle {
	position: absolute;
	border-radius: 50%;
	background: white;
	animation: ripple 15s infinite;
	box-shadow: 0px 0px 1px 0px #508fb9;
}
.small {
	width: 200px;
	height: 200px;
	left: -100px;
	bottom: -100px;
}
.medium {
	width: 400px;
	height: 400px;
	left: -200px;
	bottom: -200px;
}
.large {
	width: 600px;
	height: 600px;
	left: -300px;
	bottom: -300px;
}
.xlarge {
	width: 800px;
	height: 800px;
	left: -400px;
	bottom: -400px;
}
.xxlarge {
	width: 1000px;
	height: 1000px;
	left: -500px;
	bottom: -500px;
}
.shade1 {
	opacity: 0.2;
}
.shade2 {
	opacity: 0.5;
}
.shade3 {
	opacity: 0.7;
}
.shade4 {
	opacity: 0.8;
}
.shade5 {
	opacity: 0.9;
}
.app-background.home-view {
	top: 0;
}
.app-background.home-view .small {
	top: -100px;
}
.app-background.home-view .medium {
	top: -200px;
}
.app-background.home-view .large {
	top: -300px;
}
.app-background.home-view .xlarge {
	top: -400px;
}
.app-background.home-view .xxlarge {
	top: -500px;
}

/* ********|| BOOTSTRAP FIX ||******** */

.form-control {
	font-size: 1rem;
	border: 0 none;
	box-shadow: 0 0 10px rgba(0,0,0,.05);
}
.form-control:focus {
	border-color: #f1e4b5 !important;
	box-shadow: 0 0 0 0.25rem rgba(255,203,14,.25) !important;
}
.form-select {
	font-size: 1rem;
	background-size: 0.875rem auto;
	background-position: right 0.75rem center;
	border: 0 none;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
}
.form-select:focus {
	border-color: #f1e4b5 !important;
	box-shadow: 0 0 0 0.25rem rgba(255,203,14,.25) !important;
}
.form-check-input[type=checkbox] {
	width: 2em;
	height: 2em;
	border: 0 none;
	flex-shrink: 0;
}
.form-check-input[type=checkbox] {
	background-color: #fff;
	border: 2px solid #ebebeb;
	box-shadow: 0 0 10px rgba(0,0,0,.05);
}
.form-check-input:checked[type=checkbox] {
	background-size: 70%;
}
.form-check-input:checked {
	background-color: var(--primaryColor) !important;
	border-color:  var(--primaryColor) !important;
}
.form-check-input:focus {
    border-color:  var(--primaryColor) !important;
    box-shadow: 0 0 0 0.25rem rgba(255,203,14,.25) !important;
}
.btn {
	font-size: 0.875rem;
	padding: 0.8rem 1.2rem;
}
.btn-yellow {
	background-color: var(--primaryColor) !important;
	border: 0 none !important;
	color: #000;
}
.btn-yellow:hover {
	background: var(--primaryColorAlt);
	border: 0 none;
	color: #000;
}
.btn-check:focus+.btn-yellow,
.btn-yellow:focus {
	border-color: #f1e4b5 !important;
	box-shadow: 0 0 0 0.25rem rgba(255,203,14,.25) !important;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(255,203,14,.25);
}
.bg-white{
	background-color: white;
}
.btn_tp{
	background-color: rgba(0, 0, 0, 0);
}
.del_icon{
	color: red;
}
.bg-yellow {
	background-color: var(--primaryColor) !important;
}
.text-yellow {
	color: var(--primaryColor);
}

/* ********|| MODAL STARTS ||******** */

.lemodal-window,
.lemodal-window *,
.lemodal-window *:before,
.lemodal-window *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
}
.lemodal-content-holder {
	display: none;
}
.lemodal-window {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 11000;
	background: rgba(0,0,0,0.6);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lemodal-window > div {
	display: block;
	position: absolute;
	max-width: 1100px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 4px;
}
.lemodal-content {
	position: relative;
	overflow: hidden;
	overflow-y: auto;
	height: calc(100% - 74px);
	padding: 30px;
}
.lemodal-content > h2:first-child {
	margin-top: 0;
}
.lemodal-content.lemodal-iframe {
	padding: 10px;
}
.lemodal-content > iframe {
	width: 100%;
	height: 100%;
	border: 0 none;
}
.lemodal-content > div > h1:first-child,
.lemodal-content > div > h2:first-child,
.lemodal-content > div > h3:first-child {
	margin-top: 0;
}
.lemodal-footer {
	display: block;
	overflow: hidden;
	padding: 10px;
	height: 74px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.lemodal-footer span {
	cursor: pointer;
	background: #5cb85c;
	color: #fff;
	line-height: 26px;
	padding: 0 23px;
	float: right;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.3s all;
	margin: 0 0 0 10px;
	border-radius: 4px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.lemodal-footer span:hover {
	opacity: 0.9;
	box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}
span.lemodal-close {
	font-size: 13px;
	background: #E60005;
}

@keyframes ripple{
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);
	}
}

/* ********|| Bootstrap fixes ||******** */

.btn-primary {
    color: #000 !important;
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
    font-weight: 500;
}
.btn-primary:hover {
    color: #000 !important;
    background-color: var(--primaryColorAlt) !important;
    border-color: var(--primaryColorAlt) !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    color: #000 !important;
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
    box-shadow: 0 0 0 0.25rem rgb(255 203 14 / 50%) !important;
}
.btn-secondary {
    color: #fff !important;
    background-color: var(--secondaryColor) !important;
    border-color: var(--secondaryColor) !important;
    font-weight: 500;
}
.btn-secondary:hover {
    color: #fff !important;
    background-color: var(--secondaryColorAlt) !important;
    border-color: var(--secondaryColorAlt) !important;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
    color: #fff !important;
    background-color: var(--secondaryColor) !important;
    border-color: var(--secondaryColor) !important;
    box-shadow: 0 0 0 0.25rem rgb(35 31 32 / 50%) !important;
}

.input-group-flush .form-control {
    border: 0 none !important;
}