<template>
  <div class="row">
    <div class="col-12 mb-2">
      <div class="form-floating">
        <select class="form-select" v-model="item">
          <option selected></option>
          <option v-for="item in items" :key="item.id" :value="item.id">
            {{ item.name }}
          </option>
        </select>
        <label>{{ label }}</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["label", "selectedItem", "items"],
  emits: ["update:selectedItem"],
  computed: {
    item: {
      get() {
        return this.selectedItem;
      },
      set(value) {
        this.$emit("update:selectedItem", value);
      },
    },
  },
};
</script>
