<template>
  <div class="lemodal-window">
    <div>
      <div class="lemodal-content"></div>
      <div class="lemodal-footer">
        <span class="lemodal-close" @click="$emit('close')">X</span>
        <span class="lemodal-close-accept">Ich akzeptiere die Bedingungen</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
