<template>
  <div class="w-100 p-4 bg-white">
    <div class="mb-4">
      <div>
        <div class="fs-5 fw-bold text-dark lh-1 title-line">Employee Edit</div>
      </div>
    </div>
    <div class="visitor-section">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Department</th>
              <th scope="col">Employee</th>
              <th scope="col">Frist Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Company</th>
              <th scope="col">License Plate</th>
              <th scope="col">Check_in</th>
              <th scope="col">Check_out</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in visitors" :key="item.id">
              <td>{{ index + 1 }}</td>
              <td v-if="item.department">{{ item.department.name }}</td>
              <td v-else></td>
              <td v-if="item.employee">{{ item.employee.name }}</td>
              <td v-else></td> 
              <td>{{ item.firstname }}</td>
              <td>{{ item.lastname }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.company }}</td>
              <td>{{ item.license_plate }}</td>
              <td>{{ item.check_in_at }}</td>
              <td v-if="item.check_out_at">{{ item.check_out_at }}</td>
              <td v-else>
                <button class="btn_tp" style="height:30px !importent"  data-bs-toggle="tooltip" title="Log out" @click="deleteVisitor(item.id)">
                  <i class="fas fa-sign-out-alt fs-6 me-1 del_icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted } from "vue";
import adminServices from "../../services/AdminServices";

export default {
  setup() {
    const { visitors, getVisitors,destroyVisitor } = adminServices();

    const deleteVisitor = async (id) => {
			await destroyVisitor(id);
		};

    onMounted(getVisitors());
    return { 
      visitors,
      deleteVisitor,
    };
  },
};
</script>