<template>
  <div class="sidebar-sticky" style="margin-top:30px;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <router-link to="/home" class="nav-link justify-content-start align-items-center">
          <p>Home</p>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link justify-content-start align-items-center" to="/admin/visitors" exact >
          <p>Visitors</p>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link justify-content-start align-items-center" to="/admin/department" exact >
          <p>Department</p>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link justify-content-start align-items-center" to="/admin/employee" exact >
          <p>Employee</p>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link justify-content-start align-items-center" to="/admin/setting" exact >
          <p>Settings</p>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/home" class="nav-link justify-content-start align-items-center" @click="logout()" >
          <p>Log out</p>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
    setup() {
        const logout = async () =>{
            localStorage.setItem('token','');
        }
        return{
            logout,
        }
    },
};
</script>

<style scoped>
.nav-item {
  padding: 0px !important;
}
</style>