<template>
    <div class="container-fluid cotainer-md d-flex align-items-center justify-content-center vh-100 bg-white">
        <form class="col-12 col-sm-8 col-lg-5 col-xl-3 text-center img-fluod" @submit.prevent="authentication">
            <img src="../../../assets/img/miradesk-logo.png" alt="Miradesk logo" width="280" />
            <div class="form-floating input-group-flush mt-4 mb-2">
                <input type="email" v-model="form.email" class="form-control form-control-lg" />
                <label>Email address</label>
            </div>
            <div class="form-floating input-group-flush">
                <input type="password" v-model="form.password" class="form-control form-control-lg" />
                <label>Password</label>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <router-link to="/home" exact >
                    <button type="button" class="btn btn-white mx-sm-1 text-black text-muted">Cancel</button>
                </router-link>
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
    </div>
</template>
<script>
    import loginServices from "../../../services/LoginServices";
    import { reactive, onMounted } from "vue";

    export default {
       setup() {
            const form = reactive({
                email: "",
                password: "",
            });
            const { emailAuthentication, redirect } = loginServices();
            const authentication = async () => {
                await emailAuthentication({ ...form });
            };
    
            onMounted(redirect());

            return {
                form,
                authentication,
            };
        },
    }
</script>